<h1 class="espacio">Editar Habitaciones</h1>
<%= form_for(@habitacion) do |f| %>
  <% if @habitacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habitacion.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @habitacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive espacio">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="success">
            <th class="text-center">
              <%= f.label :numero %><br>
            </th>
            <th class="text-center">
              <%= f.label :tipo_id %><br>
            </th>
            <th class="text-center">
              <%= f.label :descripcion %><br>
            </th>
            <th class="text-center">
              <%= f.label :precio %><br>
            </th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= f.text_field :numero %></td>
              <td> <%= f.collection_select(:tipo_id, Tipo.all, :id, :nombre, { prompt: true}, {:class=>'select2'}) %></td>
              <td><%= f.text_field :descripcion %></td>
              <td><%= f.text_field :precio %></td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="actions">
      <%= f.submit "Guardar", class: "btn btn-success btn-xs"%>
    </div>
  </div>
<% end %>

