<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <div class="page-header">
      </br>
    </br>
        <h2><center>Iniciar Sesión</center></h2>
      </div>
    </div>
    <div class="col-lg-offset-4 col-lg-4">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field"> 
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, label: "Recordarme" %>
          </div>
        <% end -%>
        <div class="">
          <%= button_tag(type: 'submit', class: "btn btn-success btn-block") do %>
          <span class="glyphicon glyphicon-log-in"></span> Ingresar 
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "usuarios/shared/links" %>
