<%= form_for(@reserva_habitacion) do |f| %>
  <% if @reserva_habitacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserva_habitacion.errors.count, "error") %> prohibited this reserva_habitacion from being saved:</h2>
      <ul>
      <% @reserva_habitacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :reserva_id %><br>
    <%= f.number_field :reserva_id %>
  </div>
  <div class="field">
    <%= f.label :habitacion_id %><br>
    <%= f.number_field :habitacion_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio %><br>
    <%= f.text_field :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin %><br>
    <%= f.text_field :fecha_fin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
