<p id="notice"><%= notice %></p>

<p>
  <strong>Reserva:</strong>
  <%= @reserva_habitacion.reserva_id %>
</p>

<p>
  <strong>Habitacion:</strong>
  <%= @reserva_habitacion.habitacion_id %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @reserva_habitacion.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @reserva_habitacion.fecha_fin %>
</p>

<%= link_to 'Edit', edit_reserva_habitacion_path(@reserva_habitacion) %> |
<%= link_to 'Back', reservas_habitaciones_path %>
