<h1>Reservas#_form</h1>
<%= form_for(@reserva) do |f| %>
  <% if @reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% @reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--se toco la fecha de inicio porque estaba solamente fecha inicio-->
  <div class="field">
    <%= f.label :locatario_id %><br>
    <%= f.text_field :locatario_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio %><br>
    <%= f.text_field :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin %><br>
    <%= f.text_field :fecha_fin %>
  </div>
  <div class="field">
    <%= f.label :habitacion_id %><br>
    <%= f.text_field :habitacion_id %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success"%>
  </div>
<% end %>
