<p id="notice"><%= notice %></p>

<h1>Reservas Realizadas</h1>

<table>
  <thead>
    <tr>
      <th>Locatario</th>
      <th>   </th>
      <th>Fecha reserva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.locatario_id %></td>
        <th>   </th>
        <td><%= reserva.fecha_reserva %></td>
        <td><%= link_to 'Ver reserva', reserva, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Editar Reserva', edit_reserva_path(reserva), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Eliminar Reserva', reserva, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Reserva', new_reserva_path, class: 'btn btn-default btn-xs' %>
