<h1>Reservas#show</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Locatario:</strong>
  <%= @reserva.locatario_id %>
</p>

<p>
  <strong>Fecha Inicio:</strong>
  <%= @reserva.fecha_inicio %>
</p>

<p>
  <strong>Fecha Fin:</strong>
  <%= @reserva.fecha_fin %>
</p>

<p>
  <strong>Habitacion:</strong>
  <%= @reserva.habitacion_id %>
</p>


<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>


<p>Find me in app/views/reservas/show.html.erb</p>
