<p id="notice"><%= notice %></p>

<p>
  <strong>Locatario:</strong>
  <%= @reserva.locatario_id %>
</p>

<p>
  <strong>Fecha reserva:</strong>
  <%= @reserva.fecha_reserva %>
</p>

<%= link_to glyph(:pencil), edit_reserva_path(@reserva), class: 'btn btn-warning btn-sm' %> |
<%= link_to glyph(:arrow_left), reservas_path, class: 'btn btn-primary btn-sm' %>
