<p id="notice"><%= notice %></p>

<p>
  <strong>Locatario:</strong>
  <%= @reserva.locatario_id %>
</p>

<p>
  <strong>Fecha reserva:</strong>
  <%= @reserva.fecha_reserva %>
</p>

<%= link_to 'Editar Reserva', edit_reserva_path(@reserva), class: 'btn btn-default btn-xs' %> |
<%= link_to 'Volver Atras', reservas_path, class: 'btn btn-default btn-xs' %>
