<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mycss">
        Reserva
      </h1>
        <div class="CSS_Table_Example">
          <table>
            
              <tr>
              	<td class="text-center">Locatario</th>
                <td class="text-center">Fecha de Reserva</th>
                <td class="text-center">Monto</th>
                <td class="text-center">Acciones</th>
              </tr>
            
            
             <tr>
                	<td><center><%= @reserva.locatario_id %></center></td>
                  <td><center><%= @reserva.fecha_reserva %></center></td>
                  <td><center><%= @reserva.monto %></center></td>
                  <td><center><%= link_to glyph(:pencil), edit_reserva_path(@reserva), class: 'btn btn-warning btn-sm' %> <%= link_to glyph(:arrow_left), reservas_path, class: 'btn btn-default btn-sm' %></center></td>
              </tr>
	        </table>
        </div>
    </div>
  </div>
</div>