<%= form_for(@tipo) do |f| %> <div class="container">
  <div class="col-md-12">
  <% if @tipo.errors.any? %>
    <div  class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h2><%= pluralize(@tipo.errors.count, "error") %> complete los datos antes de guardar:</h2>
      <ul>
      <% @tipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="info">
            <th class="text-center">
              <%= f.label :nombre %>
            </th>
            <!--ACCIONES-->
            <th class="text-center">
              Acciones
            </th>
          </tr>
        </thead>
        
        <tbody>
          <tr class="text-center">
            <td>
              <%= f.text_field :nombre, class:"form-control input-sm" %>
            </td>
            <td>
              <%= button_tag(type: 'submit', class: "btn btn-success btn-sm") do %>
              <span class="glyphicon glyphicon-floppy-disk"></span>
              <% end %>
              <%= link_to glyph(:remove), @tipo,  class: 'btn btn-danger btn-sm' %>
              <%= link_to glyph(:arrow_left), tipos_path,  class: 'btn btn-info btn-sm' %>

              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
