<div class="container">
  <h1 class="text-center text-uppercase ">
    Tipos
    <th>
      <%= link_to glyph(:plus), new_tipo_path, class: 'btn btn-primary btn-sm' %>
    </th>
  </h1>
    <div class="col-md-6 col-md-offset-3">
      <div class="CSS_Table_Example">
        <table>
            <tr>
              <td>Nombre</td>
              <td>Acciones</td>
            </tr>
            <% @tipos.each do |tipo| %>
              <tr>
                <td><center><%= tipo.nombre %></center></td>
                <td> <center>
                <%= link_to glyph(:eye_open), tipo, class: 'btn btn-info btn-sm' %>
                <%= link_to glyph(:pencil), edit_tipo_path(tipo),  class: 'btn btn-warning btn-sm' %>
                <%= link_to glyph(:trash), tipo, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Esta seguro?' } %>
               
                </center></td>
              </tr>
            <% end %>
          
        </table>
      </div>
    </div>
</div>