<%= form_for(@habitacion) do |f| %>
  <% if @habitacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habitacion.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @habitacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :tipo_id %><br>
    <%= f.text_field :tipo_id %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success"%>
  </div>
<% end %>
