
<div class="col-md-10 col-md-offset-1">
  <p id="notice"><%= notice %></p>
  <h1>Lista de Habitaciones</h1>
</div>


<div class="col-md-10 col-md-offset-1">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="success">
          <th class="text-center">Nombre</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Descripcion</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Acciones</th>       
          <th><%= link_to '+', new_habitacion_path, class: 'btn btn-default btn-xs'  %></th> 

        </tr>
      </thead>

      <tbody>
        <% @habitaciones.each do |habitacion| %>
          <tr>
            <td><%= habitacion.numero %></td>
            <td><%= habitacion.tipo_id %></td>
            <td><%= habitacion.descripcion %></td>
            <td><%= habitacion.precio %></td>
            <td><%= habitacion.estado %></td>
            <td>
              <button type="button" class="btn btn-default btn-xs">
                <%= link_to 'Ver', habitacion %>
              </button>
              <button type="button" class="btn btn-default btn-xs"> 
                <%= link_to 'Editar', edit_habitacion_path(habitacion) %> 
              </button>
              <button type="button" class="btn btn-default btn-xs">
                <%= link_to 'Eliminar', habitacion, method: :delete, data: { confirm: 'Are you sure?' } %>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>