<div class="col-md-10 col-md-offset-1">
  <p id="notice"><%= notice %></p>
    <h1 class="text-center text-uppercase espacio">
      Habitaciones
        <th>
          <%= link_to glyph(:plus), new_habitacion_path, class: 'btn btn-primary btn-sm' %>
        </th> 
    </h1>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="info">
          <th class="text-center">Nombre</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Descripcion</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @habitaciones.each do |habitacion| %>
          <tr class="text-center">
            <td><%= habitacion.numero %></td>
            <td><%= habitacion.tipo_id %></td>
            <td><%= habitacion.descripcion %></td>
            <td><%= habitacion.precio %></td>
            <td><%= habitacion.estado %></td>
            <td>
                <%= link_to glyph(:eye_open), habitacion, class: 'btn btn-info btn-sm' %>
                <%= link_to glyph(:pencil), edit_habitacion_path(habitacion), class: 'btn btn-warning btn-sm' %> 
                <%= link_to glyph(:trash), habitacion, method: :delete, data: { confirm: 'Estas Seguro?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>