<h1 class="container text-center text-uppercase">
  Habitacion
  <th>
    <%= link_to glyph(:plus), new_habitacion_path, class: 'btn btn-primary btn-sm' %>
  </th>
</h1>
<div class="col-md-10 col-md-offset-1">
  <div class="CSS_Table_Example">
    <table>
      <tr>
          <td>Numero</td>
          <td>Tipo</td>
          <td>Descripcion</td>
          <td>Estado</td>
          <td>Precio</td>  
          <td>Acciones</td>       
        </tr>
        <tr>
          <td><center><%= @habitacion.numero %></center></td>
          <td><center><%= @habitacion.tipo_id %></center></td>
          <td><center><%= @habitacion.descripcion %></center></td>
          <td><center><%= @habitacion.estado %></center></td>
          <td><center><%= @habitacion.precio %></center></td>
          <td><center>
            <%= link_to glyph(:pencil), edit_habitacion_path(@habitacion), class: 'btn btn-warning btn-sm' %>
            <%= link_to glyph(:arrow_left), habitaciones_path, class: 'btn btn-info btn-sm' %>
          </center></td>
        </tr>
    </table>    
  </div>
</div>

