<%= form_for(@locatario) do |f| %>
  <% if @locatario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locatario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
      <ul>
      <% @locatario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
<div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="info">
          <th class="text-center">
            <%= f.label :nombre %><br>
          </th>
          <th class="text-center">
            <%= f.label :apellido %><br>
          </th>
          <th class="text-center">
            <%= f.label :ci %><br>
          </th>
          <th class="text-center">
            <%= f.label :telefono %><br>
          </th>
          <th class="text-center">
            <%= f.label :email %><br>
          </th>
          
          <!--ACCIONES-->
          <th class="text-center">
            Acciones
          </th>

        </tr>
      </thead>

      <tbody>
          <tr class="text-center">
            <td><%= f.text_field :nombre %></td>
            <td><%= f.text_field :apellido %></td>
            <td><%= f.text_field :ci %></td>
            <td><%= f.text_field :telefono %></td>
            <td><%= f.text_field :email %></td>

            <!--BOTONES EN ACCIONES en new habitaciones-->
            <td>
               <%= button_tag(type: 'submit', class: "btn btn-success btn-sm") do %>
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                <% end %>

                <%= link_to glyph(:remove), @locatario, class: 'btn btn-danger btn-sm' %>

                <%= link_to glyph(:arrow_left), locatarios_path, class: 'btn btn-info btn-sm' %>

            </td>

          </tr>
      </tbody>
    </table>
  </div>  
<% end %>
