<h1 class="espacio">Editar Locatarios</h1>
<%= form_for(@locatario) do |f| %>
  <% if @locatario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locatario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @locatario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-10 col-md-offset-1">
<div class="table-responsive espacio">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="success">
          <th class="text-center">
            <%= f.label :nombre %><br>
          </th>
          <th class="text-center">
            <%= f.label :apellido %><br>
          </th>
          <th class="text-center">
            <%= f.label :ci %><br>
          </th>
          <th class="text-center">
            <%= f.label :telefono %><br>
          </th>
          <th class="text-center">
            <%= f.label :email %><br>
          </th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= f.text_field :nombre %></td>
            <td><%= f.text_field :apellido %></td>
            <td><%= f.text_field :ci %></td>
            <td><%= f.text_field :telefono %></td>
            <td><%= f.text_field :email %></td>
          </tr>
      </tbody>
    </table>
  </div>


  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success btn-xs" %>
  </div>
<% end %>
