<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>CI</th>
      <th>Telefono</th>
      <th>Email</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @locatarios.each do |locatario| %>
      <tr>
        <td><%= locatario.nombre %></td>
        <td><%= locatario.apellido %></td>
        <td><%= locatario.ci %></td>
        <td><%= locatario.telefono %></td>
        <td><%= locatario.email %></td>
        <td><%= link_to 'Show', locatario %></td>
        <td><%= link_to 'Edit', edit_locatario_path(locatario) %></td>
        <td><%= link_to 'Destroy', locatario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locatario', new_locatario_path %>
