<div class="espacio">
  <h1>Locatarios</h1>
  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive espacio">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="success">
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">CI</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Email</th>
            <th class="text-center">Acciones</th>        
            <th>
                
                  <%= link_to  glyph(:plus_sign), new_locatario_path, class: 'btn btn-default btn-xs' %>
                
            </th>
          </tr>
        </thead>

        <tbody>
          <% @locatarios.each do |locatario| %>
            <tr>
              <td><%= locatario.nombre %></td>
              <td><%= locatario.apellido %></td>
              <td><%= locatario.ci %></td>
              <td><%= locatario.telefono %></td>
              <td><%= locatario.email %></td>
              <td>
                
                  <%= link_to  'Ver', locatario, class: 'btn btn-default btn-xs' %>
                
                
                  <%= link_to 'Editar', edit_locatario_path(locatario), class: 'btn btn-default btn-xs' %> 
                
                  <%= link_to 'Eliminar', locatario, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs'  %>
              
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>