<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @locatario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @locatario.apellido %>
</p>

<p>
  <strong>CI:</strong>
  <%= @locatario.ci %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @locatario.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @locatario.email %>
</p>

<%= link_to 'Edit', edit_locatario_path(@locatario) %> |
<%= link_to 'Back', locatarios_path %>
