<h1 class="text-center text-uppercase container espacio">
  Locatarios
  <th>
      <%= link_to  glyph(:plus), new_locatario_path, class: 'btn btn-primary btn-sm' %>
  </th>
</h1>
<p id="notice"><%= notice %></p>
<div class="col-md-10 col-md-offset-1">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
            <thead>
              <tr class="info">
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">CI:</th>
                <th class="text-center">Telefono</th>
                <th class="text-center">Email</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                  <td><%= @locatario.nombre %></td>
                  <td><%= @locatario.apellido %></td>
                  <td><%= @locatario.ci %></td>
                  <td><%= @locatario.telefono %></td>
                  <td><%= @locatario.email %></td>
                  <td>
                    <%= link_to glyph(:pencil), edit_locatario_path(@locatario), class: 'btn btn-warning btn-sm' %>
                    <%= link_to glyph(:arrow_left), locatarios_path,  class: 'btn btn-info btn-sm' %>
                  </td>
                </tr>
            </tbody>
    </table>
  </div>
</div>