<%= form_for(@pago) do |f| %>
  <% if @pago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pago.errors.count, "error") %> prohibited this pago from being saved:</h2>

      <ul>
      <% @pago.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="info text-center"><%= f.label :reserva_id %></th>
              <th class="info text-center"><%= f.label :montoapagar %></th>
              <th class="info text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td><%= f.collection_select(:reserva_id, Reserva.all, :id, :locatario_id, { prompt: true}, {:class=>'form-control select2'}) %></td>
              <td><%= f.number_field :montoapagar, class:"form-control input-sm" %></td>
              <td><%= button_tag(type: 'submit', class: "btn btn-success btn-sm") do %>
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <% end %>
                  <%= link_to glyph(:remove), @pago, class: 'btn btn-danger btn-sm' %>
                  <%= link_to glyph(:arrow_left), pagos_path, class: 'btn btn-info btn-sm' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>

